/* reset */
*{
    margin:0;
    padding: 0;
    border:none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;

}

body{
    display: grid;

    grid-template-areas: 
    "header img"
    "background img";

}
main{
    background-color: var(--body-bg-color);
    position: absolute;
    width: 675px;
    height: 625px;
}
header img{
    grid-area: header;
    margin-left: 30px;
    margin-top:50px;
}

.content{
    grid-area: background;
}

h1{
    font-family: Work Sans, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--title-color);
    margin: 92px 30px 0 30px;
}

h2{
    font-family: Spartan, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color:#FFFFFF;
    margin: 9px 30px 0 30px;
}
p{
    width: 50%;
    font-family: Spartan, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#FFFFFF;
    margin: 9px 30px 0 30px;
}
#form {
    margin-left: 30px;
    margin-top: 50px;
}
  
#form > fieldset {
    border: none;
    padding: 0;
}
  
fieldset > legend {
    color: var(--form-color);
    font-family: 'Spartan', 'sans-serif';
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1.18rem;
}
  
#email {
    margin-top: 1.06rem;
    width: 798px;
    display: flex;
  }
  
  #email > input {
    width: 798px;
    border: none;
    border-left: solid 5px var(--title-color); /*greenline*/
    filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.5));
    font-family: 'Work Sans', 'sans-serif';
    font-size: 0.75rem;
    line-height: 0.87rem;
    color: var(--form-color);
    padding: 10px;
  }
  
  #email > button {
    width: 48px;
    height: 48px;
    border: none;
    background-color: var(--bg-button-color);
    z-index: 1;
  }

  .link {
    margin-top: 36px;
    margin-left: 30px;
}
  .link a {
    text-decoration: none;
    color: var(--bg-button-color);
    font-family: 'Spartan', 'sans-serif';
    font-weight: 700;
    font-size: 0.88rem;
    line-height: 1.18rem;
    display: flex;
    align-items: center;
  } 

form > #input{
    display:flex;
    align-items: center; /* alinha verticalmente */
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: fixed;
    z-index: -1;
    left: 258px;
    bottom: 0;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

button:hover { 
    filter: brightness(1.75);
}
